{% extends 'newsletter/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row text-center">
    {% for post in object_list %}
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ post.title }}</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title pricing-card-title">{{ post.content }}</h5>
                <img
                    src="{{ post.preview|mymedia }}"
                    alt="Product image">
            </div>
    {% endfor %}
{% endblock %}
